<ion-content [fullscreen]="true">
  <div class="ion-text-center">

    <div class="titulo ion-text-center">
      <img src="../../assets/titulo.png" alt="La comanda">
    </div>

    <div class="container ion-text-center">
      <img src="../../assets/icono.png" alt="icono" class="icono">
    </div>

    <div class="nombreMF ion-text-center">
      <img src="../../assets/nombre1.png" alt="Fernandez Mariano">
    </div>

    <div class="nombreAH ion-text-center">
      <img src="../../assets/nombre2.png" alt="Heidenreich Alejandro">
    </div>

    <div class="nombreVP ion-text-center">
      <img src="../../assets/nombre3.png" alt="Pavlov Valeriy">
    </div>

  </div>
  <audio src="../../assets/splash.mp3" autoplay></audio>
</ion-content>
