<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">


<ion-content [fullscreen]="true" class="ion-text-center">


  <button (click)="navegar('chata', 'A')" class="boton bree">
    <img src="../../assets/chaticon.png" alt="" style="height: 75%;"><br>
    PPS-4A
  </button>
  
  <button (click)="navegar('chatb', 'B')" class="boton3 bree">
    <img src="../../assets/chaticonReverse.png" alt="" style="height: 75%;"><br>
    PPS-4B
  </button>

  <br>

  <button color="none" (click)="volver()" class="boton2 bree">Salir</button>

</ion-content>
