ion-content{
  --background: url("../../assets/fondo_main.png") 0 0/100% fixed no-repeat;
}

.input{
  border: 1px solid black;
  border-radius: 15px;
  color: black;
  height: 50px;
  width: 80%;
  background-color: #f8f5d4;
  text-align: center;
  justify-content: center;
}

.selector{
  border: 2px solid black;
  border-radius: 5px;
  background-color: #FFD83B;
  color: black;
  font-size: 24px;
  height: 50px;
  padding-left: 10px;
}

.boton{
  --background: #FFD83B;

  --color: rgb(2, 2, 58);

  --border-radius: 50%;
  --border-color: #000;
  --border-style: solid;
  --border-width: 2px;
  --padding-top: 10px;
  --padding-bottom: 10px;
}


ion-alert.custom-alert {
  --backdrop-opacity: 0.5;
}

.custom-alert .alert-button-group {
  padding: 8px;
}

button.alert-button.alert-button-confirm {
  background-color: rgb(246, 246, 142);
  color: rgb(67, 1, 67);
  border: 1px solid black;
  border-radius: 15px;
}

.alert{
  --background: rgb(116, 250, 111);
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 900

.cinzel-regular {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}