
ion-content{
    --background: #366a71;
    --background: url("../../assets/fondo.png") 0 0/100% 100% no-repeat;
}


@-webkit-keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}

.container{
    -webkit-animation:rotate-center 3s ease-in-out .2s both;animation:rotate-center 3s ease-in-out .2s both;
    img{
        height: 100;
        width: 100;
        margin-top: -7%;
    }
}

