.data-row {
    margin-top: 10px;
    padding-bottom: 10px;
    border: 2px solid rgb(133, 133, 133);
    border-radius: 5px;
}

.data-col {
    font-size: 20px;
}

.par {
    background-color: rgb(245, 245, 236);
}

.impar {
    background-color: rgb(246, 246, 198);
}