ion-content{
  --background: url("../../assets/fondo_main.png") 0 0/100% fixed no-repeat;
}

ion-fab-button {
  --background: #e8aa9e;
  --background-activated: #e5725b;
  --background-hover: #e6836f;
  --border-radius: 15px;
  --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --color: black;
}